body{

    margin:0;

    background:#111;

    color:white;

    text-align:center;

    font-family:Arial, sans-serif;

}



h1{

    color:#00ffff;

}





canvas{

    background:black;

    border:3px solid white;

    margin-top:10px;

    max-width:95%;

}







button{

    padding:12px 25px;

    font-size:20px;

    cursor:pointer;

    border-radius:10px;

    background:#222;

    color:white;

    border:2px solid #00ffff;

}



button:hover{

    background:#00ffff;

    color:black;

}







#levels{

    display:grid;

    grid-template-columns:repeat(10,120px);

    justify-content:center;

    gap:5px;

}






#levels button{

    width:120px;

    height:40px;

    font-size:16px;

    margin:3px;

}





#gameOver{

    display:none;

    position:absolute;

    top:200px;

    left:50%;

    transform:translateX(-50%);

    background:black;

    padding:30px;

    border:3px solid red;

    border-radius:20px;

    text-align:center;

    z-index:100;

}





input,select{

    padding:10px;

    font-size:18px;

    border-radius:8px;

}





.mobile{

    margin-top:20px;

}





.mobile button{

    width:90px;

    height:50px;

    font-size:25px;

    background:#00ffff;

    color:black;

}





#status{

    color:#00ff00;

    font-size:20px;

}







@media(max-width:700px){


canvas{

    width:95%;

    height:auto;

}



#levels{

    grid-template-columns:repeat(3,100px);

}


#levels button{

    width:100px;

}


}
